@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To chetu Family</h1>
    <p>Please enter your credential here <a asp-controller="Students" asp-action="Login">Login</a>.</p>
</div>
